@import url("reset.css");

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: 'Gilroy';
    max-width: 100vw;
}

* {
    box-sizing: border-box;
    outline: 1px solid red;
}

.container {
    display: flex;
    align-items: center;
}

.start-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;

    width: 100%;
    min-height: 768px;

    background-image: url(../public/images/start-bg.png);
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    width: 100%;
    height: 48px;

    margin: 40px auto 12px auto;

    .logo {
        width: 48px;
        height: 48px;

        cursor: pointer;
    }
    .menu {
        width: 32px;
        height: 32px;

        cursor: pointer;
    }
    .logo, .menu {
        transition: all 0.3s ease-in-out;
    }
    .logo:hover, .menu:hover {
        opacity: 80%;
    }
}

.container--start {
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    max-width: 1200px;
    width: 100%;

    padding: 0 20px;
}

.content-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap:72px;

    .text-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        
        max-width: 510px;

        .container--text {
            max-width: 350px;
        }
        
        .main-title {
            font-family: 'Times New Roman', Times, serif;
            font-weight: 400;
            font-size: 64px;
            line-height: 74px;
            letter-spacing: 4%;
            color: #1F3F68
        }
    }

    .image-block {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        max-width: 600px;
        
        img {
            max-width: 100%;
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 5%;
    color: #1F3F68;
    opacity: 60%;            
}
.text--white {
    color: rgba(255, 255, 255, 1);
}
.button {
    display: block;
    padding: 15px 48px;

    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4%;

    background: rgba(90, 152, 208, 1);
    color: #fff;
    box-shadow: 0 2px 15px rgba(53, 110, 173, 0.2);

    border: none;
    border-radius: 10px;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.button:hover {
    background: rgb(71, 127, 176);
    transform: translateY(-4px);
}

.advantages-section {
    display: flex;
    flex-direction: row;
    
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;

    .container--advantages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        margin: 180px auto 212px auto;
    }
}

.left-block {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100%;

    .advantages__title {
        position: absolute;
        top:0;
        left:0;

        width: 358px;
        
        color: rgba(49, 96, 153, 1);
        font-size: 36px;
        line-height: 46px;
        font-weight: 600;
        letter-spacing: 5%;
    }
}

.right-block {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 56px;

    max-width: 380px;
    width: 100%;
    padding: 48px;

    transition: all 0.5s ease-in-out;
    
    background-color: #fff;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    
    border:0;
    border-radius: 10px;

    .card__header {
        display: flex;
        justify-content: center;
    }

    .card__main {
        display: flex;
        flex-direction: column;
        gap: 32px;
        

        .card__content {
            display: flex;
            flex-direction: column;
            gap: 16px;

            h3 {
                color: #1F3F68;
                font-size: 20px;
                line-height: 30px;
                font-weight: 600;
                letter-spacing: 5%;
            }
        }

        .card__button a {
            display: flex;
            flex-direction: row;
            gap: 24px;
            align-items: center;
            color: #5A98D0;
            text-decoration: none;
            font-size: 14px;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: 5%;
            transition: color 0.3s ease-in-out;
        }

        .card__button a:hover {
            opacity: 70%;
        }

        .card__button a:hover svg {
            transform: rotate(180deg) translateX(15px);
        }

        .card__button svg {
            transition: transform 0.3s ease-in-out;
        }
    }
}
.card:hover {
    transform: translateY(-5px);
}

.footer-section {
    box-sizing: border-box;
    width: 100%;
    border-top-left-radius: 200px;

    background-color: rgba(90, 152, 208, 1);

    padding: 96px 0 96px;

    .clients-block {
        display: flex;
        flex-direction: column;
        gap: 111px;

        .about-clients {
            display: flex;
            flex-direction: row;
            gap: 97px;

            max-width: 940px;

            margin: 0 auto;

            .about__title {
                min-width: 230px;
                h3 {
                font-size: 36px;
                line-height: 46px;
                font-weight: 600;
                color: rgba(255, 255, 255, 1);
                letter-spacing: 5%;
                }
            }
            .about__text {
                display: flex;
                align-items: center;
            }
        }

        .clients-grid {
            box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1px; 

            max-width: 940px;
            width: 100%;

            margin: 0 auto;
            background-color: rgba(255, 255, 255, 1);
        }

        .client-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 41px 63px;

            transition: all 0.3s ease-in-out;
            background-color: #5A98D0;

            cursor: pointer;
        }

        .client-item:hover {
            background-color: #1F3F68;
        }

        .client-logo {
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            line-height: 46px;
            letter-spacing: 2%;
            color: #fff;
        }

        .more-item {
            background-color: #4E87BB;
        }
    }

}
